* {
  font-family: "Kaisei HarunoUmi", serif;
  /* color: #28282a; */
  cursor: none;
  /* border: 1px solid red; */
  margin-right: 1px;
}
.allContainer {
  background-color: #ffffff;
  background-image: url(bg.png);
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red; /* replace with desired color */
  pointer-events: none;
  z-index: 9999;
}
