/* All links on Nav */
/* .navBar {
  position: fixed;
} */

.navBar a {
  color: inherit;
  text-decoration: none;
  font-weight: light;
  font-weight: 400;
  font-size: 10px;
  align-items: left;
  text-transform: uppercase;
}
/* Clickable links */
.navContainer {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5rem;
  line-height: 0rem;
  margin-top: 30px;
  margin-left: 0;
}

.activeLink {
  color: black;
}

.inactiveLink {
  color: grey;
}
.inactiveLink :hover {
  color: black;
  font-style: italic;
}
